.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(102, 255, 153);
  color: white !important; 
  margin-top: 10px;
}

.topRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Adjust this value for spacing between rows */
  margin-right: 0px;
  margin-left: 0px;
}

.labelRow {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.nativeRow {
  display: flex;
  justify-content: center;
}

.centerLabel {
  text-align: center;
}

.googleButton {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.googleButton:hover {
  background-color: #4285f4;
  color: white;
}

/* styles.css or styles.module.css */
.googleButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}