.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(181, 181, 181);
  color: white !important; 
  margin-top: 30px;
}

.topRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Adjust this value for spacing between rows */
  margin-right: 0px;
  margin-left: 0px;
}

.labelRow {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.nativeRow {
  display: flex;
  justify-content: center;
}

.centerLabel {
  text-align: center;
}